/*
Theme Name: Skeleton by Socialoholic
Author: Engineer Head
Author URI: http://socialoholi.com
Description: This is a blank bootstrap 3.1.1 theme for wordpress. Feel free to use this as a starter template for your projects.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/*Wordpress editor styles start*/

.entry-content img {
  margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.alignnone, img.alignnone {
  /* not sure about this one */
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

/*Wordpress editor styles end*/
#top-banner{
  color: white;
  background-color: #2c3e50;
}
.virtue_address{
  padding: 5px;
  font-size: 16px;
}
#logo-banner{
  background-color: #18bc9c;
}
#logo-text{
  font-size: 3.5em;
  color: white;
}
#logo-text:hover{
  text-decoration: none;
  color: gold;
}
#logo-container{
  margin: 30px 0;
}
#nav-holder{
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 2px solid #18bc9c;
}
.nav>li>a{
  color: black;
  font-weight: bold;
  font-size: 16px;
}
#footer-banner{
  background-color: #2c3e50;
  color: white;
}
#footer-area{
  margin-top: 15px;
}
#header-address{
  font-size: 16px;
  color: white;
}
#header-address a{
  font-size: 16px;
  color: gold;
}
